<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<bean id="answer1" class="com.ag.Answer">
		<property name="id" value="1"></property>
		<property name="answer"
			value="Java is a Programming Language"></property>
		<property name="posteddate" value="11/11/2019"></property>
	</bean>

	<bean id="answer2" class="com.ag.Answer">
		<property name="id" value="2"></property>
		<property name="answer" value="Java is a Platform"></property>
		<property name="posteddate" value="11/05/2019"></property>
	</bean>

	<bean id="user1" class="com.ag.User">
		<property name="id" value="23"></property>
		<property name="name" value="Lebron"></property>
		<property name="email" value="lebron23@gmail.com"></property>
	</bean>

	<bean id="user2" class="com.ag.User">
		<property name="id" value="3"></property>
		<property name="name" value="AD"></property>
		<property name="email" value="AD3@gmail.com"></property>
	</bean>

	<bean id="question" class="com.ag.Question">
		<property name="id" value="1"></property>
		<property name="qname" value="What is Java?"></property>
		<property name="answers">
			<map>
				<entry key-ref="answer1" value-ref="user1"></entry>
				<entry key-ref="answer2" value-ref="user2"></entry>
			</map>
		</property>
	</bean>

</beans>